.chat-window-header {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.chat-window-header-icon {
  cursor: pointer;
}

.message {
  max-width: 80%;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.bot {
  background-color: #dcf8c6;
  align-self: flex-start;
}

.user {
  background-color: #e2e2e2;
  align-self: flex-end;
}

.loading {
  margin-top: 10px;
  font-style: italic;
  color: #888;
}

.sent-time {
  margin-top: 5px;
  font-size: 12px;
  color: #888;
  bottom: -16px;
  left: 12px;
}
