.tab-header {
  display: flex;
  gap: 10px;
}

.side-panel-header {
  display: flex;
  justify-content: space-between;
}

.more-icon {
  margin-top: 6px;
  cursor: pointer;
}

.floating-close-button {
  position: absolute;
  right: 21rem;
}
