#sidebar {
  position: absolute;

  background-color: #1b141d;
  width: var(--plasmo-google-sidebar-width);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: all 0.5s ease;
}

#sidebar.open {
  left: calc(var(--plasmo-google-sidebar-width) * -1);
}

#sidebar.closed {
  left: 0px;
}

#sidebar p {
  padding: 0 24px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
}

.sidebar-toggle {
  right: 0px;
  cursor: pointer;
}

.float-button {
  right: 0px;
  cursor: pointer;
}

.floating-container {
  position: fixed;
  right: 0px;
  bottom: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modal-content {
  color: #1b141d;
}

.input-field {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
}
